<?xml version="1.0"?>
<config>
      <modules>
        <Yli_ColorImage>
          <version>0.1.0</version>
        </Yli_ColorImage>
      </modules>
      <global>
          <blocks>
              <colorimage>
                <class>Yli_ColorImage_Block</class>
              </colorimage> 
          </blocks>
          <helpers>
            <colorimage>
              <class>Yli_ColorImage_Helper</class>
            </colorimage>
          </helpers>
          <models>
             <colorimage>
                <class>Yli_ColorImage_Model</class>
                <resourceModel>colorimage_resource</resourceModel>
             </colorimage>
             <colorimage_resource>
                <class>Yli_ColorImage_Model_Resource</class>
                <entities>
                  <image>
                    <table>color_image</table>
                  </image>
                </entities>
              </colorimage_resource> 
          </models>
          <resources>
                <colorimage_setup>
                    <setup>
                        <module>Yli_ColorImage</module>
                        <class>Mage_Core_Model_Resource_Setup</class>
                    </setup>
			           <connection>
		                  <use>core_setup</use>
		               </connection>
                </colorimage_setup>
        </resources>
      </global>
      <admin>
          <routers>
            <colorimage>
              <use>admin</use>
              <args>
                <module>Yli_ColorImage</module>
                <frontName>colorimage</frontName>
              </args>
            </colorimage>
          </routers>
        </admin>
</config>